.holder {
	margin: 10px;
}

.card {
	width: 700px;
}

.group {
	display: inline-block;
	/* border-right: solid 1px #ebecec; */
	padding: 0 20px;
	align-content: center;
}

.card-group-row {
	display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.group .card-group-row
{
	/* width: 49%; */
	/* cima, direita, baixo, esquerda */
	margin: 10px;
	z-index: 10;
}

.bloco {
	margin: 10px;
	width: 180px;
}

.bloco-short {
	margin: 10px;
	width: 120px;
}