<div class="backGround">
	<mat-drawer-container class="container" autosize>

		<mat-drawer #filterBar class="filter-sidenav" mode="side" opened>

			<mat-accordion>

				<div>

					<div class="filter-input">
						<mat-form-field appearance="outline">
							<mat-label>Name</mat-label>
							<input matInput [(ngModel)]="filterForm.name">
						</mat-form-field>
					</div>

					<div class="filter-header">
						<label>
							<strong>Location</strong>
						</label>
					</div>
					<div class="filter-input">
						<mat-form-field appearance="outline">
							<mat-label>City</mat-label>
							<input matInput type="text" [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="filterForm.local.city">
							<mat-autocomplete #auto="matAutocomplete">
								<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
									{{option}}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
					</div>
					<div class="filter-input">
						<mat-form-field appearance="outline">
							<mat-label>Address</mat-label>
							<input matInput [(ngModel)]="filterForm.local.address">
						</mat-form-field>
					</div>
				</div>


			</mat-accordion>

			<mat-divider></mat-divider>
			<div class="filter-bottom">
				<button mat-raised-button (click)="clearFilter()">Clear</button>
				<button mat-raised-button color="primary" (click)=" filterBar.toggle(); applyFilter();">Apply</button>
			</div>

		</mat-drawer>

		<div class="filter-sidenav-content">
				<button class="filter-btn" type="button" mat-raised-button (click)="filterBar.toggle()">
						<img [src]="filterImageUrl"> <span>Filters</span>
			</button>
		</div>

		<div *ngIf="cardsLoading" class="loader">
			<mat-spinner></mat-spinner>
		</div>

		<div *ngIf="!cardsLoading" class="listagem">
			<div *ngFor="let card of cards">
				
				<card-component 
					[card]="card">
				</card-component>

			</div>
		</div>

		<div class="add-icon-div">
			<img [src]="addNewCLientImage" (click)="openAddClientDialog()">
		</div>

	</mat-drawer-container>
</div>
