<div class="backGround">
	<mat-drawer-container class="container" autosize>

		<mat-drawer #filterBar class="filter-sidenav" mode="side" opened>

			<mat-accordion>

				<div>
					<div class="filter-header">
						<label>
							<strong>Localização</strong>
						</label>
					</div>
					<div class="filter-input">
						<mat-form-field appearance="outline">
							<mat-label>Cidade</mat-label>
							<input matInput type="text" [(ngModel)]="filterForm.local.city">
						</mat-form-field>
					</div>
					<div class="filter-input">
						<mat-form-field appearance="outline">
							<mat-label>UF</mat-label>
							<input matInput [(ngModel)]="filterForm.local.uf">
						</mat-form-field>
					</div>
				</div>


			</mat-accordion>

			<mat-divider></mat-divider>
			<div class="filter-bottom">
				<button mat-raised-button (click)="clearFilter()">Limpar</button>
				<button mat-raised-button color="primary" (click)="applyFilter()">Filtrar</button>
			</div>

		</mat-drawer>

		<div class="filter-sidenav-content">
				<button class="filter-btn" type="button" mat-raised-button (click)="filterBar.toggle()">
						<img [src]="filterImageUrl"> <span>Filtros</span>
			</button>
		</div>

		<div class="listagem">
			<div *ngFor="let card of cards">
				
				<card-component 
					[card]="card">
				</card-component>

			</div>
		</div>

	</mat-drawer-container>
</div>