.backGround {
	position: absolute;
	margin-top: 60px;
	width: 100%;
	height: 100%;
}

.container {
	height: 100%;
	background-color: rgb(253,253,253);
}

.listagem {
	display: table;
	margin: 0 auto;
}



/*
Filtros 
 */
.filter-btn{
	margin: 20px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-btn span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.filter-btn img {
    width: 25px;
    margin-right: 10px;
}

.filter-sidenav {
    padding: 20px;
    width: 260px;
}

.filter-header {
	margin-top: 5px;
}

.filter-input {
	margin-top: 5px;
}

.filter-bottom {
	margin-top: 20px;
}

.filter-bottom button {
	margin-left: 5px;
	margin-right: 5px;
}

/* 
add new client
*/

.add-icon-div {
	position: fixed;
	right: 0;
	top: 80%;
	margin-right: 40px
}

.add-icon-div img {
	width: 60px;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
	cursor: pointer;
} 

.add-icon-div img:hover {
	width: 70px;
	-webkit-transition-duration: 0.3s; /* Safari */
	transition-duration: 0.3s;
	margin-right: -5px;
	margin-top: -5px;
	/* box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2); */
} 