<div class="back-g">
    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" opened class="side-nav">
            <div class="options-holder">
                <div class="option-unselected" (click)="switchPage(listPageIndex)">
                    <div class="image-holder">
                        <img *ngIf="currentPageIndex == listPageIndex" [src]="listDarkPath">
                        <img *ngIf="currentPageIndex != listPageIndex" [src]="listLightPath">
                        <div *ngIf="currentPageIndex == listPageIndex" class="selected-marker"></div>
                    </div>
                </div>
                <div class="option-unselected" (click)="switchPage(graphPageIndex)">
                    <div class="image-holder">
                        <img *ngIf="currentPageIndex == graphPageIndex" [src]="pieChartDarkPath">
                        <img *ngIf="currentPageIndex != graphPageIndex" [src]="pieChartLightPath">
                    </div>
                    <div *ngIf="currentPageIndex == graphPageIndex" class="selected-marker"></div>
                </div>

                <div class="fab-holder">
                    <button mat-fab color="primary" aria-label="Add new person" (click)="openDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                  </div>
            </div>
        </mat-drawer>
        <mat-drawer-content class="side-nav-content">

            <div *ngIf="loading" class="loader">
                <mat-spinner class="loader-spiner"></mat-spinner>
            </div>

            <div *ngIf="!loading">
                <div *ngIf="currentPageIndex == listPageIndex" class="content-page">
                    <list-person-component></list-person-component>
                </div>
    
                <div *ngIf="currentPageIndex == graphPageIndex">
                    <person-locale-component></person-locale-component>
                </div>
            </div>
            

        </mat-drawer-content>
    </mat-drawer-container>
</div>