<div class="back-g">
    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" opened class="side-nav">
            <div class="options-holder">
                <div class="option-unselected">
                    <div class="image-holder">
                        <img [src]="listDarkPath">
                    </div>
                </div>
                <div class="option-unselected">
                    <span>Graph</span>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content class="side-nav-content">
            Main content
        </mat-drawer-content>
    </mat-drawer-container>
</div>