<!-- Dashboard -->
<div *ngIf="true" class="indicators" ><!--(click)="changeIndicatorSelection($event)"-->
	<div [ngClass]= "{'selected-stage': filtros.stages == 1}" class="block">
		<div (click)="addFilter(1)" class="filtro-pedido">
			<i class="ti-file"></i>
			<span class="request-number">{{status.pedido?.count}}</span>
			<span class="request-title">pedidos</span>
		</div>
		<div class="color-indicator-content">
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 30 }" (click)="addFilter(1,30)" class="color-indicator red-alert">
				<div></div>
				<span>{{status.pedido?.indicatorsCount.pedidoCancelado.count}} cancelado</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 1 }" (click)="addFilter(1,1)" class="color-indicator yellow">
				<div></div>
				<span>{{status.pedido?.indicatorsCount.exportadoNaoOtimizado.count}} exportado não otimizado</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 2 }" (click)="addFilter(1,2)" class="color-indicator red">
				<div></div>
				<span>{{status.pedido?.indicatorsCount.exportadoExcecao.count}} exportado exceção</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 3 }" (click)="addFilter(1,3)" class="color-indicator blue">
				<div></div>
				<span>{{status.pedido?.indicatorsCount.pendentes.count}} pendentes</span>
			</div>
		</div>
	</div>
	<div [ngClass]= "{'selected-stage': filtros.stages == 2 }" class="block">
		<div (click)="addFilter(2)" class="filtro-pedido">
			<i class="ti-money"></i>
			<span class="request-number">{{status.oferta?.count}}</span>
			<span class="request-title">ofertas</span>
		</div>
		<div class="color-indicator-content">
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 4 }" (click)="addFilter(2,4)" class="color-indicator red-alert">
				<div></div>
				<span>{{status.oferta?.indicatorsCount.trechoSemTarifa.count}} sem tarifa</span>
			</div>		
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 5 }"(click)="addFilter(2,5)" class="color-indicator red">
				<div></div>
				<span>{{status.oferta?.indicatorsCount.semAceite.count}} sem aceite</span>
			</div>						
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 6 }" (click)="addFilter(2,6)" class="color-indicator yellow">
				<div></div>
				<span>{{status.oferta?.indicatorsCount.emOferta.count}} em oferta</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 31 }" (click)="addFilter(2,31)" class="color-indicator blue">
				<div></div>
				<span>{{status.oferta?.indicatorsCount.emPreOferta.count}} em Pré oferta</span>
			</div>
		</div>
	</div>
	<div [ngClass]= "{'selected-stage': filtros.stages == 3 }" class="block">
		<div (click)="addFilter(3)" class="filtro-pedido">
			<i class="ti-truck"></i>
			<span class="request-number">{{status.deslocamento_cervejaria?.count}}</span>
			<span class="request-title">deslocamento cervejaria</span>
		</div>
		<div class="color-indicator-content">
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 7 }"(click)="addFilter(3,7)" class="color-indicator red-alert">
				<div></div>
				<span>{{status.deslocamento_cervejaria?.indicatorsCount.furo.count}} furo (no desl.)</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 8 }" (click)="addFilter(3,8)" class="color-indicator red">
				<div></div>
				<span>{{status.deslocamento_cervejaria?.indicatorsCount.riscoDeFuro.count}} risco de furo</span>
			</div>	
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 9 }" (click)="addFilter(3,9)" class="color-indicator grey">
				<div></div>
				<span>{{status.deslocamento_cervejaria?.indicatorsCount.naoRastreadoCervejaria.count}} não rastreado</span>
			</div>											
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 10 }" (click)="addFilter(3,10)" class="color-indicator yellow">
				<div></div>
				<span>{{status.deslocamento_cervejaria?.indicatorsCount.semCheckIn.count}} sem checkin</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 11 }" (click)="addFilter(3,11)" class="color-indicator green">
				<div></div>
				<span>{{status.deslocamento_cervejaria?.indicatorsCount.emDeslocamento.count}} em deslocamento</span>
			</div>			
		</div>
	</div>			
	<div [ngClass]= "{'selected-stage': filtros.stages == 4 }" class="block">
		<div (click)="addFilter(4)" class="filtro-pedido">
			<i class="icon-brewery"></i>
			<span class="request-number">{{status.cervejaria?.count}}</span>
			<span class="request-title">cervejaria</span>
		</div>
		<div class="color-indicator-content">
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 12 }" (click)="addFilter(4,12)" class="color-indicator red-alert">
				<div></div>
				<span>{{status.cervejaria?.indicatorsCount.furo.count}} furo (na fab.)</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 13 }" (click)="addFilter(4,13)" class="color-indicator red">
				<div></div>
				<span>{{status.cervejaria?.indicatorsCount.riscoDeNoShow.count}} risco de no show (cliente)</span>
			</div>								
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 14 }" (click)="addFilter(4,14)" class="color-indicator yellow">
				<div></div>
				<span>{{status.cervejaria?.indicatorsCount.aguardando.count}} aguardando</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 15 }" (click)="addFilter(4,15)" class="color-indicator green">
				<div></div>
				<span>{{status.cervejaria?.indicatorsCount.carregando.count}} carregando</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 16 }" (click)="addFilter(4,16)" class="color-indicator blue">
				<div></div>
				<span>{{status.cervejaria?.indicatorsCount.carregado.count}} carregado</span>
			</div>
		</div>
	</div>
	<div [ngClass]= "{'selected-stage': filtros.stages == 5 }" class="block">
		<div  (click)="addFilter(5)" class="filtro-pedido">
			<i class="truck-full"></i>
			<span class="request-number">{{status.deslocamento_cliente?.count}}</span>
			<span class="request-title">deslocamento cliente</span>
		</div>
		<div class="color-indicator-content">
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 17 }"(click)="addFilter(5,17)" class="color-indicator red-alert">
				<div></div>
				<span>{{status.deslocamento_cliente?.indicatorsCount.noShow.count}} no show</span>
			</div>				
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 18 }" (click)="addFilter(5,18)" class="color-indicator red">
				<div></div>
				<span>{{status.deslocamento_cliente?.indicatorsCount.riscoDeNoShow.count}} risco de no show</span>
			</div>
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 19 }" (click)="addFilter(5,19)" class="color-indicator grey">
				<div></div>
				<span>{{status.deslocamento_cliente?.indicatorsCount.naoRastreado.count}} não rastreado</span>
			</div>				
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 20 }" (click)="addFilter(5,20)" class="color-indicator yellow">
				<div></div>
				<span>{{status.deslocamento_cliente?.indicatorsCount.parado.count}} parados</span>
			</div>			
			<div [ngClass]= "{
				'selected-indicator': filtros.status == 21 }" (click)="addFilter(5,21)" class="color-indicator green">
				<div></div>
				<span>{{status.deslocamento_cliente?.indicatorsCount.emTransito.count}} em deslocamento</span>
			</div>
		</div>
	</div>	
	<div [ngClass]= "{'selected-stage': filtros.stages == 6 }" class="block">
		<div  (click)="addFilter(6)" class="filtro-pedido">
			<i class="ti-clipboard"></i>
			<span class="request-number">{{status.execucao_entrega?.count}}</span>
			<span class="request-title">execução de entrega</span>
		</div>
		<div class="color-indicator-content">

			<div class="block-indicator">
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 22 }" (click)="addFilter(6,22)" class="color-indicator red-alert">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.devolucao.count}} devolução</span>
				</div>
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 23 }"(click)="addFilter(6,23)" class="color-indicator grey">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.devolucaoEmAnalise.count}} dev. em análise</span>
				</div>			
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 24 }" (click)="addFilter(6,24)" class="color-indicator red">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.alertaDevolucao.count}} alerta de dev.</span>
				</div>
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 25 }" (click)="addFilter(6,25)" class="color-indicator grey">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.emEstadia.count}} em estadia</span>
				</div>
			</div>
			<div class="block-indicator">
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 26 }"(click)="addFilter(6,26)" class="color-indicator yellow">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.emAlerta.count}} em alerta</span>
				</div>					
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 27 }" (click)="addFilter(6,27)" class="color-indicator green">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.emAndamento.count}} em andamento</span>
				</div>
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 32 }" (click)="addFilter(6,32)" class="color-indicator grey">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.emEstadiaAutomatica.count}} Em estadia automática</span>
				</div>
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 28 }" (click)="addFilter(6,28)" class="color-indicator blue">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.finalizado.count}} finalizado</span>
				</div>	
				<div [ngClass]= "{
					'selected-indicator': filtros.status == 29 }" (click)="addFilter(6,29)" class="color-indicator yellow">
					<div></div>
					<span>{{status.execucao_entrega?.indicatorsCount.finalizadoManualmente.count}} final. manualmente</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Dashboard ASCD -->
<div *ngIf="tab == 2" class="indicators" [ngClass]="{'ascd': tab == 2}">
	<div *ngFor="let status of statusList; let i = index" class="block" [ngClass]= "{'selected-stage': filtrosAscd.stagesAscd == status.etapa}" >
		<div (click)="addFilter(status.etapa)" class="filtro-pedido">
			<i class="{{status.icon}}"></i>
			<span class="request-number">{{getCountEtapaTotal(status.etapa)}}</span>
			<span class="request-title">{{utils.getEtapaText(status.etapa)}}</span>
		</div>
		<div *ngFor="let indicator of status.statusList; let j = index" class="color-indicator-content" [ngClass]="{'exec-entrega': j >= 3}">
			<div (click)="addFilter(status.etapa, indicator.status)" class="color-indicator {{indicator.color}}"
				[ngClass]="{'selected-indicator': (filtrosAscd.statusAscd == indicator.status), 
							'selected-indicator-exec': (utils.getEtapaText(status.etapa) === 'EXECUCAO ENTREGA')
														&& (filtrosAscd.statusAscd == indicator.status)
														&& (j < 3)}">
				<div></div>
				<span [ngClass]="{'exec-entrega': (utils.getEtapaText(status.etapa) === 'EXECUCAO ENTREGA')}">
					{{getCountIndicadorFromEtapa(status.etapa, indicator.status)}} {{utils.getIndicadorText(indicator.status)}}
				</span>
			</div>
		</div>
	</div>
</div>

<!-- <app-cards-pedidos></app-cards-pedidos> -->