/*******************************************
********** Dashboard - Indicadores *********
*******************************************/
.indicators
{
    background-color: #fff;
    display: flex;
    box-shadow: 0px 1px 10px 0px #D7DDED;
    justify-content: center;
    margin-top: 100px;
}
.indicators .block
{
	border-right: solid 1px rgba(29, 166, 219, 0.2);
    /* display: flex; */
    flex-direction: column;
    width: 11%;
    align-items: center;
	padding: 15px 10px;
	height: 263px;
}
/*-----------------------------------------------*/
.indicators .block:last-child
{
    border-right: none;
    width: 16%;
}
.indicators .block:last-child .color-indicator-content
{
	flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.indicators .block i
{
    color: #22c8ef;
    font-size: 21px;
    margin-bottom: 7px;
}
.indicators .block i.ti-truck
{
   transform: rotateY(180deg);
}
.indicators .block i.icon-brewery
{
    background: url("../../../../assets/img/icons/brewery.png");
    width: 26px;
    height: 21px;
}
.indicators .block i.truck-full
{
    background: url("../../../../assets/img/icons/truck-full.png");
    width: 21px;
    height: 21px;
}
.indicators .request-number
{
    font-size: 42px;
    color: #1d388f;
    font-weight: 100;
    line-height: 45px;
}
.indicators .request-title
{
    color: #9aa4ad;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.indicators .color-indicator-content
{
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    width: 100%;
}
.indicators .color-indicator
{
    display: flex;
    align-items: center;
}
.indicators .block-indicator
{
    display: inline-block;
    width: 49%;
}
.indicators .color-indicator div
{
	width: 20px;
    min-height: 20px;
    margin-right: 5px;
    z-index: 1;
    cursor: pointer;
}
.indicators .color-indicator span.exec-entrega
{
	max-width: 110px;
}
.indicators .color-indicator span
{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: calc( 100% - 25px );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.indicators .color-indicator.red div
{
    background-color: #FF8A81;
}
.indicators .color-indicator.red span
{
    color: #FF8A81;
}
.indicators .color-indicator.red-alert div
{
    background-color: #E01201;
}
.indicators .color-indicator.red-alert span
{
    color: #E01201;
}
.indicators .color-indicator.grey div
{
    background-color: #A3A3A3;
}
.indicators .color-indicator.grey span
{
    color: #A3A3A3;
}
.indicators .color-indicator.yellow div
{
    background-color: #fbba49;
}
.indicators .color-indicator.yellow span
{
    color: #fbba49;
}
.indicators .color-indicator.green div
{
    background-color: #9bc73b;
}
.indicators .color-indicator.green span
{
    color: #9bc73b;
}
.indicators .color-indicator.blue div
{
    background-color: #1da6db;
}
.indicators .color-indicator.blue span
{
    color: #1da6db;
}
.selected-indicator-exec
{
	max-width: 50%;
}
.selected-indicator
{
	border: 1px solid #22c8ef !important;
}
/*-----------------------*/
.not-selected-stage
{
    background-color: #fff;
}
.indicators .block .not-selected-indicator
{
    border: none;
}
.indicators .selected-stage
{
    background-color: #EBFAFE;
}
.indicators .selected-stage:first-of-type
{
    border-left: solid 1px rgba(29, 166, 219, 0.2);
}
.indicators .selected-stage:last-of-type
{
    border-right: solid 1px rgba(29, 166, 219, 0.2);
}
.indicators .block .filtro-pedido
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
}
/* Tamanho dos indicadores */
.indicators .block:nth-child(2) .color-indicator-content .color-indicator div
{
    min-height: 25px;
}
.indicators .block:nth-child(3) .color-indicator-content .color-indicator div,
.indicators .block:nth-child(4) .color-indicator-content .color-indicator div,
.indicators .block:nth-child(5) .color-indicator-content .color-indicator div,
.indicators .block:nth-child(6) .color-indicator-content .block-indicator:nth-child(2) .color-indicator div
{
    min-height: 20px;
}
.indicators .block:nth-child(1) .color-indicator-content .color-indicator div,
.indicators .block:nth-child(6) .color-indicator-content .block-indicator:nth-child(1) .color-indicator div
{
    min-height: 25px;
}

/************ Dasboard ASCD **************/
.indicators.ascd .block
{
	width: 13%;
}
.indicators.ascd .block:nth-child(4)
{
	width: 16%;
}
.indicators.ascd .block:nth-child(5) i
{
	transform: rotateY(180deg);
}
.indicators.ascd .block:first-child .color-indicator-content .color-indicator div
{
    min-height: 100px;
}
.indicators.ascd .block:nth-child(2) .color-indicator-content .color-indicator div
{
    min-height: 50px;
}
.indicators.ascd .block:nth-child(4) .color-indicator-content.exec-entrega
{
	width: 50%;
    top: -100px;
    margin-left: 55%;
    position: relative;
}
.indicators.ascd .block:nth-child(3) .color-indicator-content .color-indicator div,
.indicators.ascd .block:nth-child(4) .color-indicator-content .block-indicator:nth-child(2) .color-indicator div,
.indicators.ascd .block:nth-child(5) .color-indicator-content .color-indicator div
{
	min-height: 33.33333px;
}
.indicators.ascd .block:nth-child(4) .color-indicator-content .color-indicator div
{
	min-height: 33px;
}
/*******************************************
********** Media Query - máx 1737px ********
*******************************************/
@media screen and (max-width: 1737px) {

    .indicators .request-title
    {
        min-height: 36px;
	}
	.indicators .block
	{
		min-height: 283px;
	}
	.indicators.ascd .block:nth-child(4)
	{
		width: 20%;
	}
}
/*******************************************
*********** Media Query - 1366x768 *********
*******************************************/
@media screen and (max-width: 1366px) {
    .indicators .block:last-child,
	.indicators.ascd .block:nth-child(4)
    {
        width: 23%;
	}
	
    .indicators .block
    {
		width: 13%;
    }
	.indicators.ascd .block
	{
		width: 16%;
	}
}
/*******************************************
*********** Media Query - 1024x768 *********
*******************************************/

@media screen and (max-width: 1024px) {

	.indicators .block
	{
		min-height: 333px;
	}
	.indicators .request-title
    {
        width: 130px;
        text-align: center;
        height: 36px;
        margin-bottom: 8px;
    }
	.indicators.ascd .block,
	.indicators.ascd .block:nth-child(4),
	.indicators.ascd .block:last-child
	{
		width: 19%;
	}
    .indicators .block
    {
        width: 16%;
    }
    .indicators .block:last-child
    {
        width: 16%;
    }
    .indicators .block:last-child .color-indicator-content
    {
        flex-direction: column;
        width: 100%;
    }
    .indicators .block-indicator
    {
        width: 100%;
    }
    .indicators .block:nth-child(1) .color-indicator-content .color-indicator div,
	.indicators .block:nth-child(2) .color-indicator-content .color-indicator div
    {
        min-height: 40px;
    }
    .indicators .block:nth-child(3) .color-indicator-content .color-indicator div,
    .indicators .block:nth-child(4) .color-indicator-content .color-indicator div,
    .indicators .block:nth-child(5) .color-indicator-content .color-indicator div
    {
        min-height: 32px;
    }
    .indicators .block:nth-child(6) .color-indicator-content .block-indicator:nth-child(1) .color-indicator div,
    .indicators .block:nth-child(6) .color-indicator-content .block-indicator:nth-child(2) .color-indicator div
    {
        min-height: 18px;
	}
	
	.indicators.ascd .block:first-child .color-indicator-content .color-indicator div
	{
		min-height: 160px;
	}
	.indicators.ascd .block:nth-child(2) .color-indicator-content .color-indicator div
	{
		min-height: 80px;
	}
	.indicators.ascd .block:nth-child(3) .color-indicator-content .color-indicator div,
	.indicators.ascd .block:nth-child(5) .color-indicator-content .color-indicator div
	{
		min-height: 53.33333px;
	}
	.indicators.ascd .block:nth-child(4) .color-indicator-content .color-indicator div,
	.indicators.ascd .block:nth-child(4) .color-indicator-content .block-indicator:nth-child(2) .color-indicator div
	{
		min-height: 26.6666px;
	}
	.indicators.ascd .block:nth-child(4) .color-indicator-content.exec-entrega
	{
		width: 100%;
		top: 0px;
		margin-left: 0;
		position: relative;
	}
	.selected-indicator-exec
	{
		max-width: 100%;
	}
	.indicators .color-indicator span.exec-entrega
	{
		max-width: 130px;
	}
}
/*******************************************
************ Media Query - 800x600 *********
*******************************************/
@media screen and (max-width: 800px) {

    .indicators .block:last-child .color-indicator-content
    {
        flex-direction: column;
        width: 100%;
    }
    .indicators .block
    {
        width: 17%;
    }
    .indicators .block:last-child
    {
        width: 17%;
	}
	.indicators
	{
		overflow: hidden;
	}
}
