<div class="container">

    <h1 mat-dialog-title>New client</h1>

    <div mat-dialog-content>

        <div class="content">

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput cdkFocusInitial [(ngModel)]="client.client.name">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput [(ngModel)]="client.client.cpf">
                </mat-form-field>
                
            </div>

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>email</mat-label>
                    <input matInput [(ngModel)]="client.client.email">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Tel</mat-label>
                    <input matInput [(ngModel)]="client.client.phone1">
                </mat-form-field>
                
            </div>

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>Birth</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="client.client.birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [(ngModel)]="client.client.phone1">
                </mat-form-field>
                
            </div>

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput type="text" [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="client.client.cidade">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Cep</mat-label>
                    <input matInput [(ngModel)]="client.client.cep">
                </mat-form-field>
                
            </div>

            <div class="input-line largadouro">
    
                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput [(ngModel)]="client.client.largadouro">
                </mat-form-field>
                
            </div>

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput [(ngModel)]="client.client.bairro">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Complement</mat-label>
                    <input matInput [(ngModel)]="client.client.complement">
                </mat-form-field>
                
            </div>

        </div>
        
    
    </div>

    <div mat-dialog-actions>
        <div class="content">
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]="client.client">Cadastrar</button>
        </div>
    </div>

</div>