<div class="container">

    <h1 mat-dialog-title>Novo cliente</h1>

    <div mat-dialog-content>

        <div class="content">

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput cdkFocusInitial [(ngModel)]="client.client.name">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput [(ngModel)]="client.client.cpf">
                </mat-form-field>
                
            </div>

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>email</mat-label>
                    <input matInput [(ngModel)]="client.client.email">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [(ngModel)]="client.client.phone1">
                </mat-form-field>
                
            </div>

            <div class="input-line">
    
                <mat-form-field appearance="outline">
                    <mat-label>Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="client.client.birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput [(ngModel)]="client.client.phone1">
                </mat-form-field>
                
            </div>

        </div>
        
    
    </div>

    <div mat-dialog-actions>
        <div class="content">
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]="client.client">Cadastrar</button>
        </div>
    </div>

</div>