.back {
    height: 100%;

    .drawer-container {
        height: 100%;
        background-color: white;

        .side-nav {
            width: 350px;
            height: 100%;
            text-align: center;
            border: 2px solid #f5f5f5;
            border-style: hidden hidden hidden solid;

            .form-container {
                margin-top: 80px;
                margin-right: 20px;
                margin-left: 20px;

                mat-form-field {
                    width: 90%;
                    color: #424242;
                }

                .btn-area {
                    margin-top: 80px;

                    .primary-button {
                        width: 90%;
                        height: 40px;
                        border-radius: 200px;

                        .btn-text {
                            color: white;
                        }
                    }
                }
            }
        }

        .refresh-holder {
            position: absolute;
            text-align: center;
            width: 22px;
            right: 0;
            top: 0;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            border-radius: 200px;
        }

        .background {
            margin-top: 100px;
            margin-bottom: 50px;

            .cards-holder {
                /* width: 100%; */
                text-align: center;
                margin: auto;

                .card-holder {
                    display: inline-block;
                }
            }
        }
    }
}
