<div class="back">
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #sidenav class="side-nav" mode="side" position="end">

            <div matRipple class="refresh-holder" (click)="closeDrawer()">
                <img [src]="closeIconPath">
            </div>

            <div class="form-container">
                <form class="form">
                    <mat-form-field appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="nameFormControl" placeholder="Enter the person's name">
                        <mat-error *ngIf="nameFormControl.hasError('required')">
                            Required field
                        </mat-error>
                        <mat-error *ngIf="nameFormControl.hasError('maxlength')">
                            must be under 20 characters
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="legacy">
                        <mat-label>Country</mat-label>
                        <mat-select [(ngModel)]="countrySelected" name="country">
                            <mat-option *ngFor="let country of countryList" [value]="country">
                                {{country}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div matRipple class="trash-holder" (click)="deletePerson()">
                        <img [src]="trashIconPath">
                    </div>

                    <div class="btn-area">
                        <button class="primary-button" mat-raised-button color="primary" (click)="editPerson()">
                            <div class="btn-text">Save</div>
                        </button>
                    </div>
                </form>
            </div>

        </mat-drawer>

        <div class="sidenav-content">
            <div matRipple class="refresh-holder" (click)="getPersonList()">
                <img [src]="refreshIconPath">
            </div>

            <div *ngIf="loading" class="loader">
                <mat-spinner class="loader-spiner"></mat-spinner>
            </div>

            <div *ngIf="!loading" class="background">

                <div class="cards-holder">
                    <div *ngFor="let person of personList" class="card-holder">
                        <card-component (click)="selectPerson(person)" [person]="person"
                            [personSelectedId]="personSelectedId">
                        </card-component>
                    </div>
                </div>
            </div>
        </div>

    </mat-drawer-container>
</div>