.refresh-holder {
    position: absolute;
    text-align: center;
    width: 22px;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 200px;
}

#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
    margin-top: 100px;
}
