<div class="header-container">
	<h2 class="title">{{tytle}}</h2>

	<div class="user">
		<div *ngIf="authService.user | async as user; else login">

			<div class="userPic">
				<img [src]="authService.currentUser.photoURL">
			</div>
			<span>{{authService.currentUser.displayName}}</span>
			<div>
				<button class="button" (click)="signOut()">Sign Out</button>
			</div>

		</div>

		<ng-template #login>
			<button class="button" (click)="googleSignIn()">Login with Google</button>
		</ng-template>
	</div>

	<div class="aba-selector-div">
		<mat-tab-group (selectedTabChange)="tabClick($event)">
			<mat-tab *ngFor="let tab of tabs">
				<ng-template mat-tab-label>
					<img [src]="tab.label">
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>

<div *ngIf="currentTab === HOME_TAB">
	<home-component></home-component>
</div>