.header-container {
	box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2);
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: white;
    top: 0;
	z-index: 100;
}

.title {
	font-family: roboto;
	font-size: 30px;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

.user {
	float: right;
	margin-top: 10px;
}

.userPic{
	width: 100%;
}

.userPic img{
	width: 50px;
	border-radius: 50%;
}

.aba-selector-div {
    margin-top: 51px;
    margin-left: 20px;
}

.aba-selector-div img {
	width: 20px;
}